// GRID CSS
.grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(1fr, 80px));
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
  gap: 20px;
  padding: 20px 40px;
}

.grid-courses {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

}

// #MEDIA
$small_min: 320; 
$small_max: 679; 
$tablet_min: 680;
$tablet_max: 959;
$desktop: 960;

@mixin devices($device){
   @if $device = mobile {
    @media only screen and (min-width: $small_min + px) and (max-width: $small_max + px) {
      @content;
    }
  }
  @else if $device = tablet {
    @media only screen and (min-width: $tablet_min + px) and (max-width: $tablet_max + px) {
      @content;
    }
  }
}

// MOBILE

// Home 

@include devices(mobile){

  // HEADER
  #main_header_container {
    display: block;
  }

  #main_header_navigation_search {
    display: flex;
    justify-content: center;
    max-width: 300px;
    margin: 20px auto;

    input#search {
      display: block;
      width: 100%;
      max-width: 100%;
      margin-bottom: 10px;
    }
  }

  .btn_search {
    right: 10px;
  }

  // CAROUSEL
  .swiper-container {
    margin-top: 100px;
  }

  .container-course-swiper {
    max-width: 250px;
  }

  // FOOTER
  #main-footer {
    display: block;
   
  }

  .contact {
    margin-bottom: 20px; 
  }

  .social {
    margin-bottom: 20px; 
  }
  
  .footer-secondary {
    display: block;
    position: relative;
  }

  .modal_box_course{
    width: 300px;
    padding: 10px;
  }

  .modal_box_course.active {
    width: 320px;
  }

  .modal_course_img_container {
    padding-right: 20px;
  }

  .modal_course_close {
    right: -12px; 
    top: -20px;
  }

}

@media only screen and (min-width: 750px) and (max-width: 959px){
  .grid-courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media only screen and (min-width: 421px) and (max-width: 749px){
  #main-hero {
    padding: 20px 0;
  }
  .grid-courses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .box-course {
    margin: 15px auto;
    padding: 15px;
  }
}
@media only screen and (max-width: 420px) {
  .grid-courses {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  
  .box-course {
    margin: 15px auto;
    padding: 15px;
  }
}