.swiper-container {
  width: 100%;
  height: 400px;
  max-width: 1366px;
}

.swiper-pagination{
  background: $secondary;
  width: 70px !important;
  padding: 5px;
  border-radius: 20px;
  position: absolute !important;
  bottom: -10px !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.288);
} 

span.swiper-pagination-bullet {
  background: black;
}

.swiper-button-next, .swiper-button-prev {
  
  &::after {
    color: black !important;
    font-weight: bold;    
  }
}