#main-hero {
  background: $primary;
  padding: 40px;
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

.main-title {
  padding: 0 10px;
  text-transform: uppercase;
  color: $font_color;
  font-weight: bold;
  border-bottom: 1px solid #cecdcd;
  padding-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.7rem;
}

#courses-home {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 10px 10px;
}

.course-item {
  width: 100%;
  max-width: 100%;
  background: $secondary;
  height: 290px;
  box-shadow: 0 0 5px 1px rgba($color: #000000, $alpha: .2  )
} 

.course-img {
  height: 130px;
  max-width: 100%;
  width: 100%;
}

.course-detail {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.course-title {
  font-family: $font_type;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
  color: $font_color;
  margin-bottom: 10px;
}

.course-description {
  font-family: $font_type;
  color: $font_color;
  color: #8b8b8b;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.course-btn {
  background: $button;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  color: $secondary;
  font-weight: bold;
  font-family: $font_type;
  text-transform: uppercase;
  transition: background .1s ease-in;

  &:hover {
    background: rgba($color: rgb(1, 175, 48), $alpha: .9)
  }

  &:active {
    background: rgba($color: rgb(0, 136, 36), $alpha: .9)
  }
}

.course-add-container {
  border: 2px dashed $font_color;
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .2s ease-in;

  &:hover {
    background: #c9c9c9;
  }
}

.course-add-img {
  max-width: 120px; 
  width: 100%;
}

.course-add-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  font-family: $font_type;
  text-transform: uppercase;
  font-weight: bold;
  color: $font_color;
  padding-top: 20px;
}

.course-title {
  font-size: 1.6rem;
}