#main-footer {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
} 

.logo_description {
  max-width: 300px;
  grid-column: 1 / 6;
  margin-bottom: 20px; 
 
  .logo-footer {
    max-width: 80px;
    width: 100%;
    margin-bottom: 20px; 
  }

  p {
    color: $font_color;
    font-family: $font_type;
    font-weight: bold;
  }
}
.title_footer {
  margin-bottom: 20px;
  font-weight: bold;
  color: $font_color;
  font-size: 1.4rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  white-space: nowrap;
  text-transform: uppercase;
}

.contact {
  grid-column: 8 / 11;
  justify-self: end;  

  p {
    color: $font_color;
    font-family: $font_type;
    font-weight: bold;
  }
}

.social {
  grid-column: 12 / 14;
  justify-self: end;

}

.footer_list_icons {
  display: flex;
  li {
    & + li {
      margin-left: 20px;
    }
  }
}

.footer_icon_link {
  img {
    max-width: 52px;
    width: 100%;
  }
}

.footer-secondary {
  background: $primary;
  width: 100%;
  display: flex;
}

.developer {
  grid-column: 1 / 13;
  max-width: 1256px;
  width: 100%;
  margin: 0 auto;
  color: $font_color;
  font-family: $font_type;
  font-weight: bold;
}