#main_header {
  width: 100%;
  height: 60px;
  background: linear-gradient(to bottom, $primary 30%, transparent 50%);
  margin-bottom: 10px;
}

#main_header_container {
  max-width: 1256px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo_container {
  .logo {
    max-width: 80px;
    width: 100%;
  }
}

#main_header_navigation_search {
  display: flex;
  justify-content: space-between;
  max-width: 430px;
  width: 100%;
  flex-wrap: wrap;
}

#search {
  width: 100%;
  max-width: 200px;
  margin-right: 20px;
  padding: 0 30px 0 10px;
  border-radius: 20px;
  border: none;
  background: rgb(228, 228, 228);
  color: $font_color;
  font-weight: bold;
  height: 35px;
}

.search_container {
  position: relative;
}

.btn_search {
  position: absolute;
  right: 30px;
  top: 7px;
  background: url('../../../assets/images/search.svg');
  width: 20px;
  height: 20px;
  background-size: cover;
  border: none;
  cursor: pointer;
}

#main_header_avatar {
  max-width: 210px;
  width: 100%;
  display: flex;
  img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
}

.option_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: $font_type;
  color: $font_color;
  // border: 1px solid tomato;
}

.btn_option {
  border: none;
  background: none;
  margin-left: 15px;

  img {
    max-width: 14px;
    width: 100%;
  }
}

.user {
  font-weight: bold;
}

