@import './header';
@import './carousel';
@import './courses';
@import './modal';
@import './modal_courses';
@import './footer';

.swiper-slide {
  background: url('../../../assets/images/course.jpg') center;
  background-size: cover;
  max-width: 100%;
  width: 100%;
}

#container-arrow {
  margin: 300px;
}

.container-course-swiper {
  max-width: 1256px;
  margin: 0 auto;
}

.box-course {
  margin: 5% 0 0 10% ;
  max-width: 400px;
  width: 100%;
  background: rgba($color: #000000, $alpha: 0.7);
  padding: 20px;
}

.text-swiper {
  color: $secondary;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.course-title-swiper {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.course-description-swiper {
  margin-bottom: 20px;
}

.course-btn-swiper {
  padding: 8px 30px;
  border-radius: 20px;
  border: 2px solid $secondary;
  color: $secondary;
  text-transform: uppercase;
  background: transparent;
  transition: background .2s ease-in;

  &:hover {
    background: rgba($color: #FFFFFFFF, $alpha: .2  )
  }
}