// #START MODAL LOADING
.modal_container {
  width: 100%;
  height: 100vh;
  background: rgba($color: #000000, $alpha: .3);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal_container.active {
  opacity: 1;
  display: flex;
}

.modal_box {
  position: relative;
  width: 600px;
  height: 400px;
  background: $secondary;
  display: flex;
  flex-direction: column;
  display: none;
}

.modal_box.active {
  animation: slide .3s ease-in forwards;
  display: inherit;
}

@keyframes slide {
  from {
    transform: translate3d(-20px, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.modal_img_container {
  position: relative;

  img {
    max-width: 600px;
    width: 100%;
    height: 200px;
    z-index: 9998;
  }
}

.modal_detail_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal_title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.modal_description {
  margin-top: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  text-align: center;
  padding-top: 0 20px;
}

.modal_btn {
  width: 200px;
  padding: 10px 0;
  border-radius: 20px;
  border: none;
  background: #18A6D8;
  color: $secondary;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-top: 10px;
}

.modal_close {
  border: none;
  background: none;
  position: absolute;
  top: -12px;
  right: -12px;
  background: $secondary;
  box-shadow: 0 0 4px 2px rgba($color: #000000, $alpha: 1.0);
  border-radius: 50%;
  width: 42px;
  height: 42px;
  z-index: 9999;

  img {
    width: 16px;
    padding-top: 5px;
  }
}