.modal_course_container {
  width: 100%;
  height: 100vh;
  background: rgba($color: #000000, $alpha: .3);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
}


.modal_course_container.active {
  opacity: 1;
  display: flex;

}

.modal_box_course {
  background: $secondary;
  width: 600px;
  padding: 20px;
  position: relative;
}

.modal_box_course.active {
  animation: slide .3s ease-in forwards;
  width: 620px;
}

@keyframes slide {
  from {
    transform: translate3d(-20px, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.modal_couse_item_container {
  display: flex;
  & + li {
    border-top: 1px solid black;
    margin-top: 20px;
    padding-top: 20px;
  }
}

.modal_course_img_container {
  img {
    max-width: 135px;
    width: 100%;
    margin-right: 20px;
  }
}

.modal_course_close {
  border: none;
  background: none;
  position: absolute;
  top: -40px;
  right: -5px;
  background: $secondary;
  box-shadow: 0 0 4px 2px rgba($color: #000000, $alpha: 1.0);
  border-radius: 50%;
  width: 42px;
  height: 42px;
  z-index: 9999;

  img {
    width: 16px;
    padding-top: 5px;
  }
}

.modal_course_btn {

  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  background: #18A6D8;
  color: $secondary;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-top: 10px;
}